.App {
  font-family: sans-serif;
  text-align: center;
}
nav {
  height: 300px;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

img {
  width: 550px;
  height: 400px;
}

ul {
  list-style-type: none;
}
